<p id="notice"><%= notice %></p>

<h1>Films</h1>

<table>
  <thead>
    <tr>
      <th>Episode</th>
      <th>Title</th>
      <th>Year</th>
      <th>Director</th>
      <th>Productor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @films.each do |film| %>
      <tr>
        <td><%= film['episode_id'] %></td>
        <td><%= link_to film['title'], get_url(film['url']) %></td>
        <td><%= film['release_date'] %></td>
        <td><%= film['director'] %></td>
        <td><%= film['producer'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>