<p id="notice"><%= notice %></p>
<h1><%= @film['title'] %></h1>

<p>
  <strong>Episode:</strong>
  <%= @film['episode_id'] %>
</p>

<p>
  <strong>Opening crawl:</strong>
  <%= @film['opening_crawl'] %>
</p>

<p>
  <strong>Director:</strong>
  <%= @film['director'] %>
</p>

<p>
  <strong>Producer:</strong>
  <%= @film['producer'] %>
</p>

<p>
  <strong>Release_date:</strong>
  <%= @film['release_date'] %>
</p>

<p>
  <strong>Characters:</strong>
  <% @film['characters'].each do |character| %>
    <p><%= get_name(character) %></p>
  <% end %>
</p>
 
<p>
  <strong>Planets:</strong>
  <% @film['planets'].each do |planet| %>
    <p><%= get_name(planet) %></p>
  <% end %>
</p>


<p>
  <strong>Starships:</strong>
  <% @film['starships'].each do |starship| %>
    <p><%= get_name(starship) %></p>
  <% end %>
</p>

<p>
  <strong>Created:</strong>
  <%= @film['created'] %>
</p>

<p>
  <strong>Edited:</strong>
  <%= @film['edited'] %>
</p>

<%= link_to 'Back', films_path %>
